export const authCfg = {
    userPoolId: 'Your user pool ID',
    clientId: 'Your client ID'
}

export const defaultRegion = 'Your region';
export const identityPoolId = 'Your User Idendity Pool ID';
export const credentialName = `cognito-idp.${defaultRegion}.amazonaws.com/${authCfg.userPoolId}`;

export const myBucket = 'Your Bucket name';